search_index: {{ graphite_api_home }}/{{ graphite_api_service_name }}/index
finders:
  - influxgraph.InfluxDBFinder
influxdb:
   db: {{ graphite_api_influxdb_api_db }}
   host: {{ graphite_api_influxdb_host }}
   port: {{ graphite_api_influxdb_port }}
   user: {{ graphite_api_influxdb_graphite_user }}
   pass: {{ graphite_api_influxdb_graphite_pass }}
   aggregation_functions:
{% for mapping in graphite_api_influxdb_aggregation_functions %}
{% for k, v in mapping.items() %}
     {{ k }} : {{ v }}
{% endfor %}
{% endfor %}
   templates:
     - {{ graphite_api_graphite_api_template }}

functions:
  - graphite_api.functions.SeriesFunctions
  - graphite_api.functions.PieFunctions
time_zone: {{ graphite_api_influxdb_timezone }}
