[uwsgi]
socket=/var/run/{{ graphite_api_service_name }}/graphite-api.sock
http-socket = :{{ graphite_api_uwsgi_port }}
chown-socket={{ graphite_api_system_user }}:{{ graphite_api_system_group }}
chmod-socket=660
uid={{ graphite_api_system_user }}
gid={{ graphite_api_system_group }}
chdir={{ graphite_api_home }}/{{ graphite_api_service_name }}
module=graphite_api.app:app
processes={{ graphite_api_no_uwsgi_processes }}
pidfile=/run/{{ graphite_api_service_name }}/onadata.pid
logto=/var/log/{{ graphite_api_service_name }}/uwsgi.log
virtualenv={{ graphite_api_venv_path }}
stats=/var/run/{{ graphite_api_service_name }}/graphite-api.stats.sock
env=GRAPHITE_API_CONFIG={{ graphite_api_home }}/{{ graphite_api_service_name }}/graphite-api.yaml
memory-report