[Unit]
Description=uWSGI Graphite API Service
After=network.target

[Service]
Type=notify
Restart=on-failure
RuntimeDirectory={{ graphite_api_service_name }}
WorkingDirectory={{ graphite_api_home }}/{{ graphite_api_service_name }}
User={{ graphite_api_system_user }}
Group={{ graphite_api_system_group }}
ExecStart={{ graphite_api_venv_path }}/bin/uwsgi --ini {{ graphite_api_home }}/{{ graphite_api_service_name }}/uwsgi.ini

[Install]
WantedBy=multi-user.target